/* MOBILE-FIRST STYLESHEET */

/* Important - this stylesheet is used to extend and override bootstrap styles. */
/* The link to this stylesheet MUST COME AFTER THE LINK TO bootstrap.css */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

#overlay {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(104,176,61,0.85);
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s linear;
}

#overlayNav {
  font-family: 'Satisfy', serif;
  font-size: 40px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.fab {
  color: white;
}

.certificate {
  font-size: 200px;
	-webkit-text-fill-color: white;
  text-shadow: 5px 5px 4px #000;
}

body {
  font-size: 1.1rem;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

header {
  background-color: #68b03d;
}

.lead {
  font-size: 1.5rem;
}

.card-body {
  color: #000;
}

h1 {
  font-family: 'Satisfy', serif;
  text-align: center;
  font-size: 5rem;
  -webkit-text-fill-color: #fff;
  text-shadow: 2px 2px 1px #000;
  line-height: 0.8em;
}

nav {
  font-family: 'Satisfy', serif;
  font-size: 16px;
}

.align-self-center {
  font-size: 50px;
}

#second-nav {
  display: none;
}

.row-1 {
  display: none;
}

#header_h2 {
  display: none;
}

h2 {
  font-family: 'Satisfy', serif;
  color: #fff;
  font-size: 50px;
}

h3 {
  font-family: 'Satisfy', serif;
  color: #fff;
  font-size: 20px;
}

h4 {
  font-size: 20px;
  font-family: 'Satisfy', serif;
  color: #000;
}

.card-header {
  background-color: #000;
	color: #fff;
}

h5 .btn {
	font-size: 30px;
  font-family: 'Satisfy', serif;
  color: #fff;
	background-color: #000;
}

h5 .btn:hover {
	color: #ff007f;
	text-decoration: none;
}

h5 .btn:visited {
	color: #fff;
	text-decoration: none;
}

h5 .btn:link {
	color: #fff;
	text-decoration: none;
}

h5 .btn-link.focus, .btn-link:focus {
  text-decoration: none;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}

.item span {
  font-style: normal;
}

.section {
  padding: 3rem 0;
}

.section-mission {
  background-color: #000;
  color: #fff;
}

.section-about {
  background-color: #556271;
  color: #fff;
}

.section-contact {
  background-color: #000;
}

.section-sitters {
  background-color: #000;
}

.section-about-sitters {
	background-color: #556271;
  color: #fff;
}

.section-services-tabs {
	background-color: #000;
  color: #fff;
}

.section-services-content {
  background-color: #556271;
  color: #fff;
	padding-top: 0;
	margin-top: 0;
}

.btn {
	color: #68b03d;
  background-color: #fff;
}

#contact-btn {
  color: #000;
  background-color: #fff;
	font-size: 0.9rem;
}

#contact-btn:hover {
  color: #ff007f;
}

.lead-contact {
  font-size: 1.2rem;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.btn:hover {
  color: #ff007f;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  border-top: none;
	border-left: none;
	border-right: none;
	border-top-left-radius: 0;
  border-top-right-radius: 0;
	height: 60px;
	border-bottom: none;
}

.nav-tabs .nav-link h3 {
  color: #000;
}

.nav-link.active h3 {
  font-weight: bold;
}

.nav-tabs .nav-link h3:hover {
	color: #ff007f;
}

.nav-tabs .nav-item .nav-link.active h3 {
	color: #fff;
	font-weight: bold;
}

.nav-tabs .nav-item {
	background-color: #556271;
}

.nav-tabs .nav-link:hover {
  border-bottom: 1px solid #ff007f;
	height: 60px;
}

.nav-tabs .nav-item .nav-link.active {
	background-color: #000;
	height: 60px;
}

.align-items-center a:link {
  color: #000;
}

.align-items-center a:visited {
  color: #000;
}

.align-items-center a:hover {
  color: #ff007f;
	text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #ff007f;
  text-decoration: none;
}

#figure-1 {
	display: block;
	margin: auto;
	box-shadow: 10px 10px #fff;
}

#figure-2 {
	display: block;
	margin: auto;
	box-shadow: 10px 10px #fff;
}

#slides img {
  display: none;
}

.section-sitters img {
	border: 10px double #fff;
}

.logo-overlay {
  width:265px;
  height:160px;
}

#SocialNav {
  font-size: 20px;
  background-color: #68b03d;
  color: #fff;
}

.social-nav a:link {
  -webkit-text-fill-color: white;
  text-shadow: 1px 2px 1px #000;
  font-size: 30px;
}

.social-nav a:visited {
  -webkit-text-fill-color: #fff;
  text-shadow: 1px 2px 1px #000;
}

.social-nav a:hover {
  -webkit-text-fill-color: #ff007f;
  text-shadow: 1px 2px 1px #000;
}

#section-footer {
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-text-fill-color: white;
  text-shadow: 1px 2px 1px #000;
  font-size: 20px;
  background-color: #68b03d;
  color: #fff;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	h1 {
	  font-size: 6rem;
	}
	
}	

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	h1 {
	  font-size: 7rem;
	}
	
	h3 {
	  font-size: 35px;
	}
	
	.nav-tabs .nav-link:hover {
    height: 100px;
	}

  .nav-tabs .nav-item .nav-link.active {
	  height: 100px;
  }
	
	.logo-main {
		position: relative;
		bottom: 103px;
		width: 160px;
		height: 159px;
  }
	
	#figure-1 {
		float: right;
	}

	#figure-2 {
		float: left;
	}		
	
	#second-nav {
		display: block;
		font-size: 25px;
		height: 100px;
  }
	
	#overlay_btn {
	  display: none;
	}
	
	.row-1 {
	  display: block;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#header_h2 {
		display: block;
		font-family: 'Helvetica', 'Arial', sans-serif;
		-webkit-text-fill-color: white;
		text-shadow: 2px 2px 1px #000;
		font-size: 40px;
  }

	.nav-tabs .nav-link:hover {
    height: 60px;
	}

  .nav-tabs .nav-item .nav-link.active {
	  height: 60px;
  }
	
	h1 {
	  font-size: 9rem;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}